/* uso de flexbox y etiquetas*/
.centro {
    display: flex;
    flex-direction: row;
    text-align: center;
}

h1 {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2vh;
    background-color: black;
    text-align: center;
    line-height: 50vh;
}

h2 {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2vh;
    background-color: black;
    border: solid 2px white;
    line-height: 5vh;
}

h3 {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2vh;
    background-color: black;
    border: solid 2px white;
    text-align: center;
    line-height: 5vh;
}
