/* clase para colocar la imagen de fondo de todas las paginas */
.fondo {
    background-image: url(https://www.metallbau-hoog.de/upload/cache/phpThumb_cache_src0da55db25ee352ba56a8a94ca40100a4_par0b3d73f82c7b7a8b64fc62a48e8ba0e2_dat1603822447.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}