li {
    display:inline-block;
    font-style: normal;
    font-size: medium;
    font-family: "Arial";
    background-color: yellow;
    border: solid 1px black;
    border-radius: 6px;
    transition: all 1s;

    &:hover {
        font-size: 20px;
        padding: 10px;
    }
}
