
header {
    background-image: linear-gradient(to bottom, $secundario, $primario);

}

main {
    text-align: center;
}

div{
    margin:5px;
    padding:30px;
}

section {
    background-color: transparent; 
}

span{
    background-color: yellow;
}


footer {
    background-image: linear-gradient(to top, $secundario, $primario);
}

.espacioNav{
    word-spacing: 15pt;
}