header {
    text-align: right;
    font-weight: bolder;
    font-family: Arial;
    display: inline-block;
}

section {
    color: red;
}

footer {
    background-image: linear-gradient(to top, black, rgb(218, 210, 210));
}